* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: cornsilk;
   
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  